/*Robbert Van der Grift
Web application for Anthem For Today
August 25, 2016
============================================*/
/*Start Of CSS Document
--------------------------------------------*/
/*Import Custom Font*/
@font-face {font-family: "Capture Smallz";
    src: url("//db.onlinewebfonts.com/t/6fd55e9ebf36075e34283cbb2331e489.eot");
    src: url("//db.onlinewebfonts.com/t/6fd55e9ebf36075e34283cbb2331e489.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6fd55e9ebf36075e34283cbb2331e489.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/6fd55e9ebf36075e34283cbb2331e489.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/6fd55e9ebf36075e34283cbb2331e489.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/6fd55e9ebf36075e34283cbb2331e489.svg#Capture Smallz") format("svg");
}
@font-face {font-family: "Capture Smallz Clean";
    src: url("//db.onlinewebfonts.com/t/b6c8293b2d8c4db9d63032ae4d85eb7a.eot");
    src: url("//db.onlinewebfonts.com/t/b6c8293b2d8c4db9d63032ae4d85eb7a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b6c8293b2d8c4db9d63032ae4d85eb7a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b6c8293b2d8c4db9d63032ae4d85eb7a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b6c8293b2d8c4db9d63032ae4d85eb7a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b6c8293b2d8c4db9d63032ae4d85eb7a.svg#Capture Smallz Clean") format("svg");
}
/*full size website
-----------------------------------*/
/*body styles*/
html {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  background-image: url("../assets/images/contact-background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1440px;
  height: 964px;
}
/*header styles*/
.navigation {
  display: none;
}
#nav-trigger{
  display: none;
}

header {
  display: flex;
  justify-content: center;
}
/*main nav bar*/
div.mobile-nav {
  display: none;
}
nav.main-navbar {
  background-color: rgba(93,12,18,0.69);
  min-height: 50px;
  width: 95vw;
  max-width: 1017.3px;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
nav.main-navbar ul {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px 0 0 6px;
  height: 40px;
  width: 94vw;
  max-width: 1005.3px;
}
nav.main-navbar ul li {
  border-left: 1px solid #000;
  height: 40px;
  max-width: 201.06px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.main-navbar ul li:first-of-type {
  border: none;
  height: 40px;
  max-width: 201.06px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.main-navbar a {
  align-self: center;
  display: block;
  height: 40px;
  width: 20vw;
  max-width: 201.06px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Capture Smallz";
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
nav.main-navbar a:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #333;
  transition: 0.4s;
}
.site-wrap {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/*main styles
---------------------------*/
main {
  height: auto;
  width: 95vw;
  max-width: 1042px;
  background-color: rgba(0,0,0,.7);
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
h3 {
  font-family: "Capture Smallz";
  font-size: 36px;
}
/*form styles*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200vw;
  max-width: 1000px;
  padding-bottom: 40px;
}
form div {
  margin-top: 50px;
  font-family: "Capture Smallz Clean";
  font-size: 20px;
  letter-spacing: 1px;
}
form div input, form div textarea {
  font-family: sans-serif;
}
form button {
  margin-top: 40px;
  font-family: "Capture Smallz Clean";
}
/*footer styles
---------------------------*/
footer {
  width: 100vw;
  max-width: 1440px;
  height: 70px;
  background-color: #5D0C12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 10vw;
}
footer h4 {
  color: #FFF;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
}
footer img {
  margin-left: 20px;
}
footer h4:last-of-type {
  margin-right: 20px;
}
@media screen and (max-width: 800px) {
/*nav styles*/
nav.main-navbar {
}
nav.main-navbar ul {
  margin-left: 4px;
}
nav.main-navbar ul li {
}
nav.main-navbar ul li a {
  font-size: 20px;
  text-align: center;
}
/*main styles*/
/*footer styles
---------------------------*/
}
@media screen and (max-width: 680px){
  nav.main-navbar ul li a {
    font-size: 18px;
  }
}
/*Mobile optimized wedsite
-----------------------------------*/
@media screen and (max-width: 613px){
/*body styles*/
.site-wrap {
  background-image: url("../assets/images/tour-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1440px;
}
/*header styles*/
.navigation {
  display: block;
}
/*nav styles*/
nav.main-navbar {
  display: none;
}
div.mobile-nav {
  display: block;
  align-self: center;
  margin-top: -150px;

}
div.mobile-nav a {
  color: #000;
}
div.mobile-nav a:hover {
  color: #5D0C12;
}
/*main styles*/
main {
  width: 100vw;
  margin-top: 50px;
}
main div div h3 {
  font-size: 52px;
}
main h5 {
  font-size: 19px;
}
main h4 {
  font-size: 19px;
  margin: 10px;
}
/*footer styles
---------------------------*/
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}
/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}
/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("../assets/images/menu-white.svg");
  background-size: contain;
  color: #fff;
}
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

}
